/* Estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
body {
  background-color: #fafafa;
}

#form-cad-container {
  text-align: center;
  background-color: #fff;
  margin: 2% auto 20px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
}

#form-cad-container img {
  width: 30%;
  height: 30%;
}

#line-cad {
  border-top: 1px solid #dbdbdb;
  width: 80%;
  margin: 25px auto 35px;
}

#form-cad-container label {
  display: block;
  text-align: left;
  margin-top: 10px;
}

#form-cad-container input {
  font-size: 14px;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 40px;
  width: 100%;
}

button[type="submit"] {
  width: 40%;
  margin: 20px auto 0;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.1s;
}

button[type="submit"]:hover {
  background-color: #439dfd;
}

#error {
  color: #ff0000;
}

/* LOGIN */
#login-container {
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
}

#login-container p {
  font-size: 14px;
  color: #262626;
}

#login-container a {
  color: #4a95f6;
  font-weight: bold;
  text-decoration: none;
}

#login-container a:hover {
  cursor: pointer;
}